.hands{
    position:absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    display: flex;
    height: 650px;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    z-index: 100;
    flex-direction: column;
}
.content h1{
    z-index: 100;
    font-size: 180px;
    font-family: 'Bigilla';
    color: #fefefe;
    text-transform: capitalize;
    font-style: italic;
    letter-spacing: -5px;
    font-weight: lighter;
    transition: 1s ease-in-out;
    cursor: pointer;
}
.content h1:hover{
    transition: 1s ease-in-out;
    color: rgb(135,255,0);
    
}
.content p{
    z-index: 100;
    margin-top: -10px;
    display: block;
    font-size: 20px;
    font-family: 'Monument';
    font-weight: lighter;
    cursor: pointer;
    text-transform: uppercase;
    color: rgb(180,180,180);
}
.content p:hover::after{
    opacity: 1;
    transform: scaleX(1);
    transform-origin: 0 50%;
    transition: transform 0.7s cubic-bezier(0.2,1,0.3,1), opacity 0.1s linear;
}
.content p::after{
    content:'';
    position: absolute;
    margin-top: 25px;
    left: 43.5%;
    width: 210px;
    z-index: 100;
    height: 2px;
    background: rgba(135,255,0);
    transform: scaleX(0.001);
    opacity: 0;
    transform-origin: 100% 50%;
    transition: transform 0.3s cubic-bezier(0.2,1,0.3,1), opacity 0.1s linear 0.2s;

}


@media(max-width:576px){
    .hands{
       width: 300px;
        top: 50%;
        left: 50%;    
        height: 500px;
    }
    .content h1{
       padding-top: 23rem;
        font-size: 60px;
        text-align: center;
     
    }
    .content p::after{
       
        left: 20%;
 
    
    }
}